.App {
  text-align: center;
}
body{
  font-family: 'Bungee Inline', cursive;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
a {
  background-color: blue;
  color: white;
  padding: 0.5em 1em;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  background-color: #555;
}
a:hover {
  cursor: pointer;
}

a:active {
  background-color: black;
}

a:visited {
  background-color: #ccc;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(70, 66, 66, 0.973);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
